.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(45deg);
  transform-origin: top left;
}

.hamburger:hover > div:nth-child(2){
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  transform: rotate(-45deg);
  transform-origin: bottom left;
   
}

nav {
  opacity: 0;
  transition-duration: 1s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {
    transform: rotate(0deg);
    transform-origin: top left;
    margin-left: 15px;
    margin-top: 5px;
  }
  to {
    transform: rotate(45deg);
    transform-origin: top left;
    margin-left: 30px;
    margin-top: 20px;
  }
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {
    transform: rotate(0deg);
    transform-origin: bottom left;
    margin-left: 11.5px;
    margin-bottom: 5px;
  }
  to {
    transform: rotate(-45deg);
    transform-origin: bottom left;
    margin-left: 26.5px;
    margin-bottom: 25px;
  }
}
